.resume-info ul.job{
    padding: 10px;
}

.resume-info ul.job li:before{
    font-family: fontawesome;
    content: "\f046";
    display: inline-block;
    padding-right: 10px;
    color: green;
}

.resume-info ul.job li{
    list-style: outside;
    padding: 10px 0 0 10px;
    border: none;
    list-style-type: none;
}

.year{
    padding-right: 10px;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.msg {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.visibleMsg{
    width: auto;
    height: auto;
    display: block;
    opacity: 1;
    overflow: hidden;

}

.invisibleMsg{
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}

.loaderMsg {
    height: 50px;
    margin-bottom: 80px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

input#website{
    display: none;
}

input.ng-invalid,textarea.ng-invalid {
    border: 1px solid #ededed;
    border-radius: 4px;
    font-size: 12px;
    height: 176px;
    margin-bottom: 18px;
    padding: 15px 18px;
    width: 100%;
    box-shadow: none;
}




input.submitted.ng-invalid, textarea.submitted.ng-invalid
{
    border:1px solid #f00;

}


.view {
    width: 310px;
    height: 220px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p {
    color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
    margin: 0;
    padding: 10px 25px 0;
    position: relative;
    text-align: center;
}

.view p.tag{
    margin-bottom: 10px;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #2a363a;
    color: #d1d1d1;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 90px;
  /*  -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;*/
}
.view a.info:hover,.view a.info:focus {
    background-color: #ffa42d;
    color: #2c383c;
  /*  -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;*/
}

/* Transition */

.view-fifth img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.view-fifth .mask {
    background-color: rgba(255,212,45,0.9);
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -o-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    transform: translateX(-500px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;


}
/*.view-fifth .mask:before{
background:white;
background:rgba(255,255,255,0.8);

filter:blur(40px);
-o-filter:blur(40px);
-ms-filter:blur(40px);
-moz-filter:blur(40px);
-webkit-filter:blur(40px);
}*/
.view-fifth h2 {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    -webkit-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    -moz-box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #333;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view-fifth:hover .mask, .view-fifth:focus .mask {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.view-fifth:hover img, .view-fifth:focus img {
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -o-transform: translateX(500px);
    -ms-transform: translateX(500px);
    transform: translateX(500px);
}
.view-fifth:hover p, .view-fifth:focus p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

@media screen and (max-width:800px){
    .view {
        width: 410px;
        height: 220px;
        margin: 10px;
        float: left;
        border: 10px solid #fff;
        overflow: hidden;
        position: relative;
        text-align: center;
        -webkit-box-shadow: 1px 1px 2px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;

    }
    .view .mask,.view .content {
        width: 400px;
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 980px;
    }
}